@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

body {
  @apply bg-background text-text;
}

:root {
  --color-background: #1C1C1E;
  --color-text: #FFFFFF;
  --color-primary: #FF3B30;
  --color-primary-rgb: 255, 59, 48;
  --color-secondary: #D1D1D6;
}

.light-mode {
  --color-background: #FFFFFF;
  --color-text: #1C1C1E;
  --color-primary: #FF3B30;
  --color-primary-rgb: 255, 59, 48;
  --color-secondary: #8E8E93;
}

.aspect-w-16 {
  position: relative;
  padding-bottom: 56.25%;
}

.aspect-w-16 > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes glow {
  0%, 100% {
    filter: brightness(100%) blur(3px);
  }
  50% {
    filter: brightness(150%) blur(5px);
  }
}